<div class="row">
    <h1>Proyectos Realizados</h1>
        <div class="contenedor">
            <div class="col-sm-12 col-md-7 col-lg-7">
                <h1> Proyecto Final Argentina Programa</h1>
                    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Repellat doloribus obcaecati quibusdam excepturi, 
                        atque saepe modi distinctio molestias illo fugit nemo 
                        deserunt beatae expedita iste perferendis dolorum! Quasi, 
                        perspiciatis quia?</p>
            </div>
        </div>

</div>
