<div class= "row">
    <h1>Educacion</h1>
    <div class="col-lg-8">
        <ul>  
            <li>
                <h1> Educacion 1 </h1> - <h3> (years) </h3>
            </li>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Libero rem debitis molestias amet officiis, sapiente hic eaque. 
                Dolorum distinctio eaque culpa nemo quidem. Pariatur sed in neque,
                 cupiditate perferendis laborum!</p>
        </ul>
        <ul>  
            <li>
                <h1> Educacion 2 </h1> - <h3> (years) </h3>
            </li>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Libero rem debitis molestias amet officiis, sapiente hic eaque. 
                Dolorum distinctio eaque culpa nemo quidem. Pariatur sed in neque,
                 cupiditate perferendis laborum!</p>
        </ul>
        <ul>  
            <li>
                <h1> Educacion 3 </h1> - <h3> (years) </h3>
            </li>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Libero rem debitis molestias amet officiis, sapiente hic eaque. 
                Dolorum distinctio eaque culpa nemo quidem. Pariatur sed in neque,
                 cupiditate perferendis laborum!</p>
        </ul>
    </div>
</div>

